<h2>{{ t('Choose User') }}</h2>
<div class="P">
    {{ t('You have selected ') }}{{ RecordType }}{{ t(' from the users:') }}
</div>

<div class="P">
    <ul class="users-list">
        {% for User in Users %}
            <li><b>{{ User.Name }}</b></li>
        {% endfor %}
    </ul>
</div>
<br>
<div class="P">{{ t('Only one user can be warned at a time.') }}</div>