<!DOCTYPE html>
<html lang="{{ meta.locale }}">
    <head>
        <title>{{ meta.title }}</title>
{% for meta in meta.tags %}
        <meta{% for attribute,value in meta %} {{ attribute }}="{{ value }}"{% endfor %} />
{% endfor %}
{% for script in meta.scripts %}
        <script src="{{ script }}"></script>
{% endfor %}
{% for stylesheet in meta.styles %}
        <link href="{{ stylesheet }}" rel="stylesheet" type="text/css" />
{% endfor %}
{% for link in meta.links %}
        <link{% for attribute,value in link %} {{ attribute }}="{{ value }}"{% endfor %} />
{% endfor %}
        <script type="application/ld+json">
            {{ meta.breadcrumb|raw }}
        </script>
    </head>
    <body class="{{ page.classes|join(' ') }}">
        <div class="page">
            <div id="headerContainer">{{ include('partials/header.twig') }}</div>
            <div id="app">
                <noscript>
                    {{ page.content|raw }}
                </noscript>
            </div>
            <div id="footerContainer">{{ include('partials/footer.twig') }}</div>
        </div>
        <div id="modals"></div>
    </body>
</html>
