<!DOCTYPE html>
<html lang="{{ meta.locale }}">
    <head>
        <title>{{ meta.title }}</title>
{% for meta in meta.metaTags %}
        <meta{% for attribute,value in meta %} {{ attribute }}="{{ value }}"{% endfor %} />
{% endfor %}
{% for script in meta.scripts %}
        <script src="{{ script }}"></script>
{% endfor %}
{% for stylesheet in meta.styles %}
        <link href="{{ stylesheet }}" rel="stylesheet" type="text/css" />
{% endfor %}
    </head>
    <body class="{{ page.classes|join(' ') }}">
        <div class="page">
            <div id="headerContainer">{{ include('partials/header.twig') }}</div>
            <div id="app">
                <noscript>
                    {{ page.content }}
                </noscript>
            </div>
            <div id="footerContainer">{{ include('partials/footer.twig') }}</div>
        </div>
        <div id="modals"></div>
    </body>
</html>
