<!DOCTYPE html>
<html lang="{{ meta.seo.locale }}">
    <head>
        <title>{{ meta.seo.title }}</title>

        {% for meta in meta.tags -%}
            <meta{% for attribute,value in meta %} {{ attribute }}="{{ value }}"{% endfor %} />
        {% endfor %}

        {% for script in scripts -%}
            <script defer src="{{ script }}"></script>
        {% endfor %}

        {% for script in inlineScripts -%}
            <script>
                {{- script|raw -}}
            </script>
        {% endfor %}

        <script type="application/ld+json">
            {{ meta.seo.breadcrumb|raw }}
        </script>

        {% for stylesheet in styles -%}
            <link href="{{ stylesheet }}" rel="stylesheet" type="text/css" />
        {% endfor -%}
        {% for link in meta.links -%}
            <link{% for attribute,value in link %} {{ attribute }}="{{ value }}"{% endfor %} />
        {% endfor %}

    </head>
    <body class="{{ page.classes|join(' ') }}">
        <div class="page">
            <div id="headerContainer">
                {{ include('partials/header.twig') }}
            </div>
            <div class="page-minHeight">
                <div id="app">
                    <noscript>
                        {{ include(template) }}
                    </noscript>
                </div>
            </div>
            <div id="footerContainer">
                {{ include('partials/footer.twig') }}
            </div>
        </div>
        <div id="modals"></div>
        <script src="https://ajax.googleapis.com/ajax/libs/webfont/1.6.26/webfont.js"></script>
        <script>
            WebFont.load({
                google: {
                    families: ['Open Sans:400,400italic,600'] // Will be dynamic at some point
                }
            });
        </script>
    </body>
</html>
