<!DOCTYPE html>
<html lang="{{ meta.locale }}">
    <head>
        <title>{{ meta.title }}</title>
{% for meta in meta.tags %}
        <meta{% for attribute,value in meta %} {{ attribute }}="{{ value }}"{% endfor %} />
{% endfor %}
{% for script in scripts %}
    {% if script.content is defined %}
        <script>{{ script.content|raw }}</script>
    {% elseif script.src is defined %}
        <script defer src="{{ script.src }}"></script>
    {% endif %}
{% endfor %}
{% for stylesheet in styles %}
    {% if stylesheet.content is defined %}
        <style>{{ stylesheet.content|raw }}</style>
    {% elseif stylesheet.src is defined %}
        <link href="{{ stylesheet.src }}" rel="stylesheet" type="text/css" />
    {% endif %}
{% endfor %}
{% for link in meta.links %}
        <link{% for attribute,value in link %} {{ attribute }}="{{ value }}"{% endfor %} />
{% endfor %}
        <script type="application/ld+json">
            {{ meta.breadcrumb|raw }}
        </script>
    </head>
    <body class="{{ page.classes|join(' ') }}">
        <div class="page">
            <div class="page-minHeight">
                <div id="headerContainer">{{ include('partials/header.twig') }}</div>
                <div id="app">
                    <noscript>
                        {{ page.content|raw }}
                    </noscript>
                </div>
                <div id="footerContainer">{{ include('partials/footer.twig') }}</div>
            </div>
        </div>
        <div id="modals"></div>
    </body>
</html>
