<section class="frame">
    <header class="frameHeader">
        <h2>{{ t("Remove Article Link") }}</h2>
        <a class="Close"></a>
    </header>
    <div class="frameBody">
        <div class="framePanel">
            <div class="frameBody-contents smartAlign-outer">
                <p class="smartAlign-inner">{{ t("This will remove the link to the article, but will not remove the article itself.") }}</p>
            </div>
        </div>
    </div>
    <footer class="frameFooter">
        {{ form.open()|raw }}
        {{ form.button("Remove Link")|raw }}
        {{ form.close()|raw }}
    </footer>
</section>