{% for categoryGroup in categoryDirectory %}
<section>
    <h2>{{ categoryGroup.title }}</h2>
    <ul>
        {% for category in categoryGroup.categories %}
            <li>
                <a href="{{ category.url }}">
                    {{ category.name }}
                </a>
            </li>
        {% endfor %}
        {% if categoryGroup.moreUrl %}
            <a href="{{ categoryGroup.moreUrl }}">
                {{ categoryGroup.urlLabel }}
            </a>
        {% endif %}
    </ul>
</section>
{% endfor %}
