<h1>{{ t('Add/Edit Knowledge Base') }}</h1>
{{ form.open() }}
{{ form.errors() }}
<ul>
    {{ form.simple(formData) }}
</ul>
<div class="js-modal-footer form-footer">
    <div class="buttons">
        {{ form.button('Save') }}
    </div>
</div>
{{ form.close()}}
