<div class="MessageList Discussion">
    <div id="Item_0" class="PageTitle">
        <div class="Options">
            {{ fireEchoEvent('BeforeDiscussionOptions') }}
            {{ bookmarkLink }}
{#            {{ discussionOptionsDropdown }}#}
{#            {{ renderAdminCheck() }}#}
        </div>
        <h1>{{ Discussion.Name }}</h1>
    </div>
    {{ fireEchoEvent('AfterDiscussionTitle') }}
    {{ fireEchoEvent('AfterPageTitle') }}
</div>

{#TODO: Fire events#}
{#TODO: ADD options functions#}