{{ Form.open()|raw }}
{{ Form.errors()|raw }}

<ul>
    {{ Form.hidden('RuleID')|raw }}
    <li class="form-group">
        <div class="label-wrap">
            {{ Form.label('Name', 'Name')|raw }}
        </div>
        <div class="input-wrap">
            {{ Form.input('Name')|raw }}
        </div>
    </li>
    <li class="form-group">
        <div class="label-wrap">
            {{ Form.label('Description', 'Description')|raw }}
        </div>
        <div class="input-wrap">
            {{ Form.textBox('Description', { MultiLine: true })|raw }}
        </div>
    </li>
</ul>
{{ Form.close('Save')|raw }}
